// Plans Stylesheets
= stylesheet_link_tag 'keppler_plans/application', media: 'all', 'data-turbolinks-track': true
// Plans Javascripts
= javascript_include_tag 'keppler_plans/application', 'data-turbolinks-track': true