// Accounts Stylesheets
= stylesheet_link_tag 'keppler_accounts/application', media: 'all', 'data-turbolinks-track': true
// Accounts Javascripts
= javascript_include_tag 'keppler_accounts/application', 'data-turbolinks-track': true